# Dependências
/node_modules

# Ambiente
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build temporários
/dist
/tmp
/.cache

# Banco SQLite (se usado)
*.sqlite
*.sqlite3

# Pastas do sistema
.DS_Store
Thumbs.db

# Diretórios gerados por testes ou cobertura
/coverage
/jest/
/__tests__/
/test-output/

# Arquivos da CLI
*.bak
*.old

# Roteamento e documentação temporária
Doc.md
